
name: Generate Datas

on:
  schedule: # execute every 12 hours
    - cron: "0 */12 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    name: Jobs to update datas
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # Snake Animation (pin to a release or commit)
      - name: Generate snake SVG
        uses: Platane/snk@v3
        id: snake-gif
        with:
          github_user_name: niophan
          outputs: |
            dist/github-contribution-grid-snake.svg

      # Publish to the "output" branch
      - name: Publish to GitHub Pages branch
        uses: crazy-max/ghaction-github-pages@v4
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
